body {
    background-color: #0B1D26;
    color: white;
    font-family: 'Sans Serif', Arial, sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
}

.navbar-toggler {
    border-color: white;
}

.account-menu:hover {
    font-size: 21px;
}

.nav-link {
	color: white !important;
	font-size: 18px;
	font-family: Montserrat;
	font-weight: 700;
	font-style: normal;
	line-height: 22px;
}

.nav-link:hover {
	font-size: 21px;
	color: #FBD784 !important;
}

.logo {
	font-family: Playfair Display;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
}

.navbar-brand {
	font-family: Playfair Display;
	font-weight: 700;
	font-style: normal;
	font-size: 32px;
	line-height: 42px;
}

.navbar-brand:hover {
	font-size: 34px;
}

.footer-title {
	font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.footer-link {
	color: white;
	font-family: Montserrat;
    font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 32px;
}

.footer-link:hover {
	color: white;
}

.footer-text {
	color: white;
	font-family: Montserrat;
    font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 32px;
}

.copyright-text {
	color: white;
	font-family: Montserrat;
    font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 32px;
	opacity: 50%;
}

body, html {
  height: 100%;
}

.bg-light {
    background-color: transparent !important;
    background: transparent !important;
}

.line {
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}

.line-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 2px;
}

.yellow-title {
    color: #FBD784;
}

.navbar {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
}

.btn-scroll {
	font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
	color: white;
	background-color: transparent;
	outline: none;
	font-size: 18px;
	line-height: 22px;
}

.btn-scroll:hover {
	color: #FBD784;
	text-decoration: none;
}

.home-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 100px;
}

.second-title {
	color: #FBD784;
	font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
	line-height: 22px;
	letter-spacing: 6px;
}

.number {
    position: relative;
    left: 0;
    top: 0;
    opacity: 10%;
	font-style: normal;
	font-weight: 700;
    font-size: 240px;
    line-height: 240px;
}

.line-part {
    position: absolute;
    top: 0;
    left: 0;
}

.scroll-down {
    text-decoration: none;
    color: white;
}

.scroll-down:hover {
    color: #fbd784;
}

.line-and-text {
    top: 100px;
    left: 136px;
    color: #FBD784;
}

.blog-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.blog-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
}

.read-more {
	font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FBD784 !important;
}

.read-more:hover {
	font-size: 20px;
}

@media (max-width: 576px) {
    .home-title {
		font-size: 32px;
	}
}

@media (min-width: 577px) {
  
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
